@use './base/reset' as *;

@use './utils/colors' as *;
@use './utils/animations' as *;
@use './utils/queries' as *;
@use './base/fonts' as *;

@use './base/base' as *;

// NAVIGATION
.navigation {
	display: none; /* width <= 768px */
}

// MAIN CONTENT

main {
	// HERO
	.hero {
		position: relative;
		width: 100%;
		padding-top: 65%;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
		overflow: hidden;

		&__titan-mobile {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			.hero-titan-mobile {
				width: 100%;
			}
		}

		/* width <= 768px */
		.navigation,
		&__wall,
		&__titan,
		&__titan-hand,
		&__logo {
			display: none;
		}
	}

	//ABOUT SECTION

	.about-aot {
		width: 100%;
		border-bottom: 2px solid rgba(0, 0, 0, 0.5);
		border-top: 2px solid rgba(0, 0, 0, 0.5);
		background-image: radial-gradient(
				circle,
				rgba(24, 24, 15, 0.48) 0%,
				rgba(24, 24, 15, 0.78) 44%,
				rgba(0, 0, 0, 1) 84%
			),
			url('../assets/images/about-aot-bg.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;

		display: flex;
		justify-content: center;
		align-items: center;

		&__info {
			padding: 1em;
			text-align: center;
			margin: 1em;
			line-height: 1.5;
			font-size: 1.5rem;
		}
	}

	// CORPS SECTION
	.corps {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2em;
		color: $text-color;
		margin: 0 auto;

		&__title {
			font-size: 2.8rem;
			margin-bottom: 1em;
		}

		&__grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.5em;
			margin-bottom: 2em;

			.shield-img {
				position: relative;
				width: 15em;
				transition: transform 0.3s, scale 0.3s;
			}

			.shield-img:hover {
				scale: 1.1;
				transform: translateY(-20px);
			}
		}

		&__info {
			display: flex;
			justify-content: center;
			align-items: start;
			width: 100%;
			padding: 2em;
			font-size: 1.6rem;
			text-align: center;
			min-height: 200px;
			background-image: url('../assets/images/corps-info-bg.png');
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: inherit;
		}
	}

	// PROMO VIDEO SECTION
	.promo {
		display: flex;
		justify-content: center;
		background-image: url('../assets/images/sparkle.png');
		background-position: center;
		// background-size: cover;
		// background-repeat: no-repeat;
	}

	.promo__video {
		position: relative;
		margin: 2em;
		width: 100%;
		max-width: 1080px; /* frame/video size */
		aspect-ratio: 16 / 9; /* maintains a 16:9 aspect ratio */

		img,
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		img {
			width: 100%;
			height: 100%;
			z-index: 2;
		}

		video {
			width: 95%;
			height: 95%;
			z-index: 1;
		}
	}

	/* fallback if browser does not support aspect ratio */
	@supports not (aspect-ratio: 16/9) {
		.promo__video {
			height: 0;
			padding-top: 56.25%; /* 9/16 = 56.25% */
		}
	}

	// ISAYAMA SECTION
	.isayama {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		margin-top: 2em;
		padding: 3em;
		font-size: 1.5em;
		overflow: hidden;

		background-color: rgba(0, 0, 0, 0.3);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&__section1,
		&__section2 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			max-width: 1600px;
		}

		&__section2 {
			margin-top: 2em;
		}

		&__info1,
		&__info2 {
			width: 80%;
		}

		&__img1,
		&__img2 {
			width: 100%;
			img {
				width: 100%;
			}
		}

		&__img1 {
			display: flex;
			justify-content: end;
		}
		&__info2 {
			margin-top: 1em;
			order: 2;
		}

		&__img2 {
			display: flex;
			justify-content: start;
			order: 1;
		}
	}

	// UNIVERSE SECTION
	.universe {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		padding: 4em 0;

		&__title {
			margin-bottom: 2em;
			font-size: 2.8rem;
		}

		&__carousel {
			width: 100%;
		}

		&__track {
			display: flex;
			gap: 4em;
		}

		&__item {
			flex: 0 0 auto;
			width: 150px;
			text-align: center;

			p {
				font-size: 1.4rem;
				margin-top: 0.8em;
			}
		}

		&__img-wrapper {
			position: relative;
			border-radius: 10px;
			overflow: hidden;

			img {
				display: block;
				width: 100%;
				border-radius: 10px;
				transition: transform 0.3s ease;
			}

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.4);
				transition: opacity 0.3s ease;
			}

			&:hover {
				img {
					transform: scale(0.95);
				}
				&::after {
					opacity: 0;
				}
			}
		}
	}
}

// FOOTER
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.1rem;
	color: $text-color;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 36%, rgba(0, 0, 0, 1) 77%);

	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__left {
		width: 100%;
		font-size: 0;
		order: 3;
	}

	&__titan-img {
		width: 100%;
		max-height: 450px;
	}

	&__right {
		display: flex;
		flex-direction: column;
		margin-left: 3em;
		margin-top: 3em;
		order: 2;
	}

	&__right-top,
	&__right-bottom {
		padding: 1em 0;
	}
	&__right-top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 2.8em;
			height: 2.8em;
			margin: 1em;
			border-radius: 50%;
			text-decoration: none;
			line-height: 0;
			background-color: transparent;
			transition: transform 0.3s ease;
			overflow: hidden;

			&:hover {
				transform: scale(1.1);
			}

			.footer-icon {
				display: block;
				width: 100%;
				height: 100%;
			}

			.crunchyroll-icon {
				color: $text-color;

				&:hover {
					color: #ff9956;
				}
			}
			.facebook-icon {
				color: $text-color;

				&:hover {
					color: #4a98ff;
				}
			}
			.x-icon {
				color: $text-color;

				&:hover {
					color: rgb(155, 155, 155);
				}
			}
		}
	}

	&__right-bottom {
		.kodansha-logo {
			width: 15em;
			transition: scale 0.3s;
			cursor: pointer;

			img {
				width: 100%;
			}

			&:hover {
				scale: 1.05;
			}
		}
	}

	&__bottom {
		width: 100%;
		text-align: center;
		border-top: 1px solid #333;
		padding: 1em 0;
		line-height: 1.5;
	}

	&__info {
		display: none;
	}

	&__info-author {
		position: relative;
		z-index: 1;

		a {
			color: $text-color;
			text-decoration: none;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			background-color: rgb(126, 37, 37);
			transition: height 0.3s;
			z-index: -1;
		}

		&:hover::after {
			height: 100%;
		}
	}
}

@include queries;
