@font-face {
	font-family: 'Attack on courier font'; /*a name to be used later*/
	src: url('../assets/fonts/AttackOnCourier-5nJz.ttf'); /*URL to font*/
}

@font-face {
	font-family: 'Old Printing Press'; /*a name to be used later*/
	src: url('../assets/fonts/OldPrintingPressFreeVersion-8jd0.ttf'); /*URL to font*/
}

